@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Kadila - Iniciar Sesión</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/font-awesome/css/all.css" asp-append-version="true" />
</head>
<body class="bg-light d-flex align-items-center justify-content-center vh-100">
    <div class="card shadow rounded mx-auto" style="width: 35rem; height: 25rem;">
        <div class="card-header bg-primary text-white text-center p-4">
            <h4><i class="fas fa-user-circle"></i> &nbsp; INICIAR SESIÓN </h4>
        </div>
        <div class="card-body p-4">
            <form asp-controller="Login" asp-action="Index" method="post">
                <div class="mb-4">
                    <label class="form-label">Correo Electrónico</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                        <input type="email" class="form-control" name="Email">
                    </div>
                    <span class="text-danger">@Html.ValidationMessage("Email")</span>
                </div>

                <div class="mb-4">
                    <label class="form-label">Contraseña</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-lock"></i></span>
                        <input type="password" class="form-control" name="Password">
                    </div>
                    <span class="text-danger">@Html.ValidationMessage("Password")</span>
                </div>

                <div class="text-danger">
                    @if (!ViewData.ModelState.IsValid)
                    {
                        <p>Error: Correo electrónico o contraseña incorrectos.</p>
                    }
                </div>
                <br/>
                <button type="submit" class="btn btn-primary w-100"><i class="fas fa-sign-in-alt"></i> INGRESAR </button>
            </form>
        </div>
    </div>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>