@model kadila.Models.User
@{
    Layout = null;
}

<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restablecer Contraseña - KADILA</title>
    <link rel="shortcut icon" href="~/img/kadila.jpg" type="image/x-icon">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/font-awesome/css/all.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
</head>
<body class="bg-light">
    <div class="ocean">
        <div class="wave"></div>
    </div>
    <div class="container-fluid">
        <div class="row justify-content-center align-items-center min-vh-100">
            <div class="col-md-6 col-sm-10 col-12 text-center">
                <div class="card shadow rounded mt-4" style="max-width: 35rem;">
                    <div class="card-header bg-primary text-white text-center p-4">
                        <h4><i class="fas fa-key"></i> &nbsp; RESTABLECER CONTRASEÑA </h4>
                    </div>
                    <div class="card-body p-4">
                        <form asp-controller="Login" asp-action="ResetPassword" method="post">
                            <div class="mb-3">
                                <label class="form-label">NUEVA CONTRASEÑA</label>
                                <div class="input-group">
                                    <span class="input-group-text bg-primary text-light"><i class="fas fa-lock"></i></span>
                                    <input type="password" class="form-control" asp-for="Password">
                                </div>
                                <span class="text-danger">@Html.ValidationMessageFor(model => model.Password)</span>
                            </div>
                            <input type="hidden" asp-for="Email" />
                            <button type="submit" class="btn btn-primary w-100 mt-2"><i class="fas fa-check-circle"></i> RESTABLECER CONTRASEÑA </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>