@{
    ViewData["Title"] = "Inicio";
}
    
<div class="text-center mx-6">
    <div class="card border-info mb-3 mx-6">
        <div class="card-header bg-dark text-light">
           <h2>Kadila Pharmaceuticals</h2> 
        </div>
        <div class="card-body text-dark">
            <h5 class="card-title">Sistema de Pagos y Cobranzas</h5>
            <p class="card-text">Sistema para gestionar deudad, cobranzas y pagos con clientes.</p>
        </div>
    </div>
</div>