@model kadila.Models.Debt

@{
    ViewData["Title"] = "REGISTRAR DEUDA";
}

<form asp-action="Create" class="row g-3 needs-validation" novalidate>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="card p-4">
        <div class="card-header d-flex justify-content-between align-items-center bg-primary text-light">
            <span><i class="fas fa-user mr-3"></i> &nbsp;&nbsp; REGISTRAR NUEVA DEUDA</span>
        </div>
        <div class="card-body">
            <h4>DETALLES DE LA DEUDA</h4>
            <div class="card-body">
                <div class="card-group">
                    <div class="card">
                        <div class="card-body">
                            <label asp-for="FechaCreacion" class="form-label"></label>
                            <input asp-for="FechaCreacion" class="form-control" required>
                            <span asp-validation-for="FechaCreacion" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <label asp-for="FechaLimite" class="form-label"></label>
                            <input asp-for="FechaLimite" class="form-control" required>
                            <span asp-validation-for="FechaLimite" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="card-group">
                    <div class="card">
                        <div class="card-body">
                            <label asp-for="Monto" class="form-label"></label>
                            <input asp-for="Monto" class="form-control" required>
                            <span asp-validation-for="Monto" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <label asp-for="ClienteId" class="form-label"></label>
                            <select asp-for="ClienteId" class="form-control" asp-items="@(ViewData["Customers"] as IEnumerable<SelectListItem>)"></select>
                            <span asp-validation-for="ClienteId" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <a asp-action="Index" class="btn btn-secondary w-100 mb-4">
                CERRAR
            </a>
            <input type="submit" value="REGISTRAR" class="btn btn-primary w-100">
        </div>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}