@model kadila.Models.User

@{
    ViewData["Title"] = "REGISTRAR USUARIO";
}

<form asp-action="Create" class="row g-3 needs-validation" novalidate>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="card p-4">
        <div class="card-header d-flex justify-content-between align-items-center bg-primary text-light">
            <span><i class="fas fa-user mr-3"></i> &nbsp;&nbsp; REGISTRAR NUEVO USUARIO</span>
        </div>
        <div class="card-body">
            <h4>DATOS DE USUARIO</h4>
            <div class="card-group">
                <div class="card">
                    <div class="card-body">
                        <p class="h6 card-text text-primary">USUARIO</p>
                        <input type="text" class="form-control" asp-for="Name" required>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <p class="h6 card-text text-primary">CORREO ELECTRÓNICO</p>
                        <input type="email" class="form-control" asp-for="Email" required>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <h4>ACCESO AL SISTEMA</h4>
            <div class="card-group">
                <div class="card">
                    <div class="card-body">
                        <p class="h6 card-text text-primary">MODALIDAD DE INGRESO</p>
                        <select asp-for="RolId" class="form-control" asp-items="@(ViewData["Roles"] as IEnumerable<SelectListItem>)"></select>
                        <span asp-validation-for="RolId" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="card-group">
                <div class="card">
                    <div class="card-body">
                        <p class="h6 card-text text-primary">CONTRASEÑA</p>
                        <div class="input-group">
                            <input type="password" class="form-control" asp-for="Password" id="passwordField" required>
                            <button class="btn btn-outline-secondary" type="button" id="togglePassword">
                                <i class="fas fa-eye"></i>
                            </button>
                        </div>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <a asp-action="Index" class="btn btn-secondary w-100 mb-4">
                CERRAR
            </a>
            <input type="submit" value="REGISTRAR" class="btn btn-primary w-100">
        </div>
    </div>
</form>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/password.js" asp-append-version="true"></script>
}