@model kadila.Models.PaymentHistory

@{
    ViewData["Title"] = "REGISTRAR PAGO";
}

<form asp-action="Create" class="row g-3 needs-validation" novalidate>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="card p-4">
        <div class="card-header d-flex justify-content-between align-items-center bg-primary text-light">
            <span><i class="fas fa-user mr-3"></i> &nbsp;&nbsp; REGISTRAR NUEVO PAGO</span>
        </div>
        <div class="card-body">
            <div class="card-group">
                <div class="card">
                    <div class="card-body">
                        <p asp-for="FechaPago" class="h6 card-text text-primary">FECHA DE PAGO</p>
                        <input type="date" class="form-control" asp-for="FechaPago" required>
                        <span asp-validation-for="FechaPago" class="text-danger"></span>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <p asp-for="Monto" class="h6 card-text text-primary">MONTO</p>
                        <input type="number" class="form-control" asp-for="Monto" required>
                        <span asp-validation-for="Monto" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="card-group">
                <div class="card">
                    <div class="card-body">
                        <p asp-for="DeudaId" class="h6 card-text text-primary">DEUDA</p>
                        <select asp-for="DeudaId" class="form-control" asp-items="@(ViewData["Debts"] as IEnumerable<SelectListItem>)"></select>
                        <span asp-validation-for="DeudaId" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <a asp-action="Index" class="btn btn-secondary w-100 mb-4">
                CERRAR
            </a>
            <input type="submit" value="REGISTRAR" class="btn btn-primary w-100">
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}