@{
    Layout = "_Welcome";
    ViewData["Title"] = "Nosotros";
}


<div class="container">
    <h1 class="text-center my-4">Nosotros</h1>
    <div class="row">
        <div class="col-md-6">
            <div class="card mt-2 text-center">
                <div class="card-header bg-primary text-light">
                    <h2 class="card-title">Misión</h2>
                </div>
                <div class="card-body">
                    <p style="text-align: justify;">
                        <span class="font-weight-bold">La misión de Kadila Pharmaceuticals SRL</span> es comprometernos de manera inquebrantable con la salud y el bienestar de la población boliviana. Nos dedicamos con pasión a la <span class="font-weight-bold">distribución, importación y producción de medicamentos de la más alta calidad</span>, asegurando un acceso asequible y efectivo a productos farmacéuticos esenciales.
                    </p>

                    <p style="text-align: justify;">Enfocamos nuestros esfuerzos en ser un pilar fundamental en el sistema de salud público y privado, estableciendo estándares excepcionales en la entrega de productos seguros, eficaces y éticos. Trabajamos incansablemente para garantizar la disponibilidad constante de medicamentos esenciales, contribuyendo así a mejorar la calidad de vida de la sociedad que servimos.</p>

                    <p style="text-align: justify;">Nos guiamos por <span class="font-weight-bold">valores éticos y principios de responsabilidad social</span>, priorizando la transparencia, la integridad y el respeto en todas nuestras operaciones. Buscamos constantemente la innovación y la excelencia en nuestros procesos, desde la selección cuidadosa de productos hasta la atención al cliente y el desarrollo sostenible.</p>

                    <p style="text-align: justify;">Kadila Pharmaceuticals SRL se compromete a ser un <span class="font-weight-bold">socio confiable para profesionales de la salud, instituciones médicas</span> y, en última instancia, para cada individuo que confía en nuestros productos.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card text-center">
                <div class="card-header bg-primary text-light">
                    <h2 class="card-title">Visión</h2>
                </div>
                <div class="card-body">
                    <p style="text-align: justify;">
                        <span class="font-weight-bold">La visión de Kadila Pharmaceuticals SRL</span> es convertirnos en un referente destacado en la industria farmacéutica, liderando la innovación y la excelencia en la provisión de soluciones de salud. Nos esforzamos por ser reconocidos no solo por la calidad de nuestros productos, sino también por nuestro impacto positivo en la comunidad y el compromiso con la sostenibilidad.
                    </p>

                    <p style="text-align: justify;">Buscamos constantemente expandir nuestras operaciones y presencia en el mercado, explorando nuevas oportunidades para ofrecer productos que aborden las necesidades cambiantes de la sociedad. Nos comprometemos a mantener una posición líder en la investigación y desarrollo de medicamentos, contribuyendo así al avance continuo de la ciencia y la medicina.</p>

                    <p style="text-align: justify;">Nuestra visión se basa en la responsabilidad hacia nuestros stakeholders, incluyendo pacientes, profesionales de la salud, empleados y la comunidad en general. Aspiramos a ser una fuerza motriz en la mejora de la salud global, promoviendo prácticas éticas y sostenibles en todo momento.</p>
                    <br />
                    <p style="text-align: justify;">En resumen, la visión de Kadila Pharmaceuticals SRL es ser un actor clave en la configuración del futuro de la salud, liderando con innovación, responsabilidad y un compromiso duradero con la mejora de la calidad de vida.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-2">
    <div class="card text-center">
        <div class="card-header bg-primary text-light">
            <h2 class="card-title">Historia</h2>
        </div>
        <div class="card-body">
            <p style="text-align: justify;" class="card-text">En el vibrante año 2006, en la ciudad de La Paz, Bolivia, un grupo de visionarios emprendedores se unió para dar vida a una empresa que cambiaría el panorama de la distribución de productos farmacéuticos en la región. Nació así Kadila Pharmaceuticals SRL, con la misión de brindar acceso a medicamentos de calidad a la comunidad boliviana.</p>

            <p style="text-align: justify;" class="card-text">Los fundadores de Kadila Pharmaceuticals, con un profundo compromiso con la salud y el bienestar de la población, establecieron desde el principio altos estándares de calidad en la selección de productos. La empresa no solo se convirtió en un distribuidor confiable de medicamentos, sino que también se destacó por su enfoque en la educación sobre la salud y la promoción de prácticas saludables.</p>

            <p style="text-align: justify;" class="card-text">Con el tiempo, Kadila Pharmaceuticals se expandió más allá de La Paz, llegando a comunidades remotas y urbanas por igual. Su presencia no solo llevó medicamentos esenciales a lugares de difícil acceso, sino que también generó empleo y contribuyó al desarrollo económico de diversas regiones.</p>

            <p style="text-align: justify;" class="card-text">Lo que hizo única a Kadila Pharmaceuticals fue su compromiso con la innovación y la tecnología en la distribución de productos farmacéuticos. Implementaron sistemas logísticos avanzados para garantizar entregas rápidas y seguras, mejorando así la accesibilidad de los medicamentos a lo largo y ancho del país.</p>

            <p style="text-align: justify;" class="card-text">Hoy, Kadila Pharmaceuticals SRL es reconocida no solo como un distribuidor de confianza, sino como un actor clave en la promoción de la salud en Bolivia. Su legado sigue creciendo, con la empresa comprometida a enfrentar nuevos desafíos y a seguir siendo un faro de salud y bienestar en la comunidad.</p>
        </div>

        <section id="portfolio" class="portfolio section-bg">
            <div class="container">
                <div class="slider">
                    <div class="slides">
                        <input type="radio" name="radio-btn" id="radio1">
                        <input type="radio" name="radio-btn" id="radio2">
                        <input type="radio" name="radio-btn" id="radio3">
                        <div class="slide first">
                            <a href="#"><img src="~/img/portfolio-1.jpg" alt=""></a>
                        </div>
                        <div class="slide">
                            <a href="#"><img src="~/img/portfolio-2.jpg" alt=""></a>
                        </div>
                        <div class="slide">
                            <a href="#"><img src="~/img/portfolio-3.jpg" alt=""></a>
                        </div>
                        <div class="navigation-auto">
                            <div class="auto-btn1"></div>
                            <div class="auto-btn2"></div>
                            <div class="auto-btn3"></div>
                        </div>
                    </div>
                    <div class="navigation-manual">
                        <label for="radio1" class="manual-btn"></label>
                        <label for="radio2" class="manual-btn"></label>
                        <label for="radio3" class="manual-btn"></label>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>