@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Kadila S.R.L</title>
    <link rel="shortcut icon" href="~/img/kadila.jpg" type="image/x-icon">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/font-awesome/css/all.css" asp-append-version="true" />
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="~/js/nav.js"></script>
    <style>
        *{font-family: 'Hammersmith One', sans-serif;}
    </style>
</head>
<body>
<button type="button" class="btn btn-primary btn-floating btn-lg" id="btn-back-to-top">
    <i class="fas fa-arrow-up"></i>
</button>
<header>
    <div class="responsive-bar">
        <div class="logo">
          <img src="~/img/logo.png" alt="logo"/>
        </div>
    </div>
    <nav>
        <div class="logo">
            <img src="~/img/logo.png" alt="logo"/>
        </div>
        <div class="mobile-nav-toggle">
            <i class="fas fa-bars"></i>
        </div>
        <ul>
            <li><a asp-controller="Inicio" asp-action="Index">Inicio</a></li>
            <li><a asp-controller="Inicio" asp-action="About">Nosotros</a></li>
            <li><a asp-controller="Inicio" asp-action="Portfolio">Catálogo</a></li>
            <li><a asp-controller="Inicio" asp-action="Services">Servicios</a></li>
            <li><a asp-controller="Inicio" asp-action="Contact">Contáctenos</a></li>
        </ul>
    </nav>
    <section class="header-text-section">
        <h1>Bienvenido/a</h1>
        <h2>Tu esfuerzo y compromiso son motivo de orgullo para nosotros,</h2>
        <h2>Gracias por hacer realidad nuestra misión de cuidado de la salud cada día.</h2>
    </section>
    <div class="wave" style="height: 170px; overflow: hidden;">
        <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
            <path d="M0.00,49.98 C150.00,150.00 349.20,-50.00 500.00,49.98 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: #fff;"></path>
        </svg>
    </div>
</header>
<main>
    <section class="text-center">
        <h1 class="title">Kadila Pharmaceuticals S.R.L</h1>
        <a class="btn btn-outline-primary btn-lg w-50 my-lg-4" asp-controller="Login" asp-action="Login" role="button">
            <i class="fas fa-globe"></i> &nbsp; &nbsp;SISTEMA DE PAGOS Y COBRANZAS
        </a>
    </section>
    <section class="container about-us">
        <h2 class="title">Nosotros</h2>
        <div class="about-us-container">
            <img id="myImg" src="~/img/kadila.jpg" alt="logo" class="about-us-image visible animate__animated animate__rotateIn">
            <div id="myModal" class="modal">
                <img class="modal-content" id="img01">
            </div>
            <div class="text-content">
                <h3><span>1</span> Nuestra Misión </h3>
                <p style="font-size: 20px;">
                    Kadila Pharmaceuticals SRL es una empresa que distribuye, importa y produce medicamentos de calidad,
                    posicionándose en el mercado farmacéutico público y privado con un talento humano activo comprometido con la salud de la población boliviana.
                </p>
                <h3><span>2</span> Nuestra Visión </h3>
                <p style="font-size: 20px;">
                    Somos una empresa legalmente establecida dedicada a la distribución e importación de medicamentos genéricos y de marca,
                    participando activamente en el Sistema de Salud Pública y Privada, brindando servicios de calidad a la población boliviana.
                </p>
            </div>
        </div>
    </section>
    <section class="portfolio">
        <div class="container">
            <h2 class="title">Nuestras Contribuciones</h2>
            <div class="portfolio-gallery">
                <div class="portfolio-image">
                    <img id="myImg" src="~/img/delivery.jpg" alt="delivery">
                    <div class="hover-gallery">
                        <p>Nuestro Trabajo</p>
                    </div>
                </div>
                <div class="portfolio-image">
                    <img id="myImg" src="~/img/quality.jpg" alt="quality">
                    <div class="hover-gallery">
                        <p>Nuestra Calidad</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="container address">
        <h2 class="title">Nuestra Ubicación</h2>
        <div class="row">
            <div class="col-lg-6">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3825.3222407828744!2d-68.1641228!3d-16.5098216!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x915edf98e06bdc67%3A0xe8076af97814bf85!2sKadila%20Pharmaceuticals%20S.R.L.!5e0!3m2!1ses!2sbo!4v1701029120811!5m2!1ses!2sbo" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="col-lg-6 contact-info text-dark">
                <div class="address-info my-lg-4">
                    <h4 style="color: black;"><i class="fas fa-map-marker-alt"></i> &nbsp; Dirección </h4>
                    <p style="color: black; font-size: 16px;"> El Alto, Zona 12 de octubre, calle No 5 entre </p>
                        <p style="color: black; font-size: 16px;"> Av. Jorge Carrasco, Edificio Vela No 100, segundo piso</p>
                </div>
                    <div class="contact-info my-lg-4">
                    <h4 style="color: black;"><i class="fas fa-phone"></i> &nbsp; Teléfono </h4>
                        <p style="color: black; font-size: 16px;"> Tel: <a href="tel:+59122821591">591-2-2821591</a></p>
                        <p style="color: black; font-size: 16px;"> Tel: <a href="tel:+59122824263">591-2-2824263</a></p>
                </div>
                    <div class="contact-info my-lg-4">
                        <h4 style="color: black;"><i class="fas fa-envelope"></i> &nbsp; Correo Electrónico </h4>
                        <p style="color: black; font-size: 16px;"> <a href="mailto:info@kadilapharma.com">info@kadilapharma.com</a></p>
                </div>
            </div>
        </div>
    </section>
</main>
<footer class="mt-5">
    <div class="footer-container">
        <div class="contact-info text-light">
            <h2><i class="fas fa-phone"></i> &nbsp; Contacto </h2>
            <p class="h5 mb-2"> Bolivia - La Paz,</p>
            <p class="h5 mb-2"><i class="fas fa-phone-forward"></i> Tel: <a class="link-light" style="text-decoration: none;" href="tel:+59122821591">591-2-2821591</a></p>
            <p class="h5 mb-2"><i class="fas fa-phone-forward"></i> Tel: <a class="link-light" style="text-decoration: none;" href="tel:+59122824263">591-2-2824263</a></p>
        </div>
        <div class="contact-info text-light">
            <div class="social-media">
                <h2><i class="fas fa-heart"></i> &nbsp; Redes Sociales </h2>
                <a href="https://www.facebook.com/profile.php?id=100093208146513" class="header-text h5" style="color: white; text-decoration: none;">Facebook</a>
            </div>
        </div>
        <div class="contact-info text-light">
            <div class="address-info">  
                <h2><i class="fas fa-map-marker-alt"></i> &nbsp; Dirección </h2>
                <p class="h5 mb-2"> El Alto, Zona 12 de octubre, calle No 5 entre </p>
                <p class="h5 mb-2"> Av. Jorge Carrasco, Edificio Vela No 100, segundo piso</p>
                <a href="https://maps.app.goo.gl/iqcqKayfJ77bu1jy6" class="header-text h5" style="color: white; text-decoration: none;"> <i class="fas fa-map-marker-alt"></i> Google Maps</a>
            </div>
        </div>
    </div>
    <h2 class="title-final">Kadila</h2>
</footer>
<script src="~/js/scroll.js"></script>
</body>
</html>