@{
    Layout = "_Welcome";
    ViewData["Title"] = "Catálogo";
}

<link rel="stylesheet" href="~/css/portfolio.css" asp-append-version="true" />

<div class="container">
	<h1 class="text-center my-2">Catálogo</h1>
	<div class="row">
		<div class="col-md-6 col-lg-4 col-xl-3">
			<div id="product-1" class="single-product">
				<div class="part-1">
					<img src="../img/amoxicilina.png" alt="amoxicilina" class="mt-lg-4"/>
					<ul>
						<li><a href="#"><i class="fas fa-shopping-cart"></i></a></li>
						<li><a href="#"><i class="fas fa-heart"></i></a></li>
						<li><a href="#"><i class="fas fa-plus"></i></a></li>
						<li><a href="#"><i class="fas fa-expand"></i></a></li>
					</ul>
				</div>
				<div class="part-2">
					<h3 class="product-title">Amoxicilina</h3>
					<h4 class="product-price">Bs. 9.99</h4>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-lg-4 col-xl-3">
			<div id="product-1" class="single-product">
				<div class="part-1">
					<img src="../img/cefotaxima.png" alt="cefotaxima"/>
					<ul>
						<li><a href="#"><i class="fas fa-shopping-cart"></i></a></li>
						<li><a href="#"><i class="fas fa-heart"></i></a></li>
						<li><a href="#"><i class="fas fa-plus"></i></a></li>
						<li><a href="#"><i class="fas fa-expand"></i></a></li>
					</ul>
				</div>
				<div class="part-2">
					<h3 class="product-title">Cefotaxima</h3>
					<h4 class="product-price">Bs. 19.99</h4>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-lg-4 col-xl-3">
			<div id="product-1" class="single-product">
				<div class="part-1">
					<img src="../img/ceftriaxona.png" alt="ceftriaxona" class="mt-lg-4"/>
					<ul>
						<li><a href="#"><i class="fas fa-shopping-cart"></i></a></li>
						<li><a href="#"><i class="fas fa-heart"></i></a></li>
						<li><a href="#"><i class="fas fa-plus"></i></a></li>
						<li><a href="#"><i class="fas fa-expand"></i></a></li>
					</ul>
				</div>
				<div class="part-2">
					<h3 class="product-title">Ceftriaxona</h3>
					<h4 class="product-price">Bs. 29.99</h4>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-lg-4 col-xl-3">
			<div id="product-1" class="single-product">
				<div class="part-1">
					<img src="../img/cloranfenicol.png" alt="cloranfenicol" class="mt-lg-4"/>
					<ul>
						<li><a href="#"><i class="fas fa-shopping-cart"></i></a></li>
						<li><a href="#"><i class="fas fa-heart"></i></a></li>
						<li><a href="#"><i class="fas fa-plus"></i></a></li>
						<li><a href="#"><i class="fas fa-expand"></i></a></li>
					</ul>
				</div>
				<div class="part-2">
					<h3 class="product-title">Cloranfenicol</h3>
					<h4 class="product-price">Bs. 19.99</h4>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-lg-4 col-xl-3">
			<div id="product-1" class="single-product">
				<div class="part-1">
					<img src="../img/dexametasona.png" alt="dexametasona" class="mt-lg-4"/>
					<ul>
						<li><a href="#"><i class="fas fa-shopping-cart"></i></a></li>
						<li><a href="#"><i class="fas fa-heart"></i></a></li>
						<li><a href="#"><i class="fas fa-plus"></i></a></li>
						<li><a href="#"><i class="fas fa-expand"></i></a></li>
					</ul>
				</div>
				<div class="part-2">
					<h3 class="product-title">Dexametasona</h3>
					<h4 class="product-price">Bs. 19.99</h4>
				</div>
			</div>
		</div>
	
		<div class="col-md-6 col-lg-4 col-xl-3">
			<div id="product-1" class="single-product">
				<div class="part-1">
					<img src="../img/diclofenaco.png" alt="diclofenaco" class="mt-lg-4"/>
					<ul>
						<li><a href="#"><i class="fas fa-shopping-cart"></i></a></li>
						<li><a href="#"><i class="fas fa-heart"></i></a></li>
						<li><a href="#"><i class="fas fa-plus"></i></a></li>
						<li><a href="#"><i class="fas fa-expand"></i></a></li>
					</ul>
				</div>
				<div class="part-2">
					<h3 class="product-title">Diclofenaco</h3>
					<h4 class="product-price">Bs. 19.99</h4>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-lg-4 col-xl-3">
			<div id="product-1" class="single-product">
				<div class="part-1">
					<img src="../img/ibuprofeno.png" alt="ibuprofeno" class="mt-lg-4"/>
					<ul>
						<li><a href="#"><i class="fas fa-shopping-cart"></i></a></li>
						<li><a href="#"><i class="fas fa-heart"></i></a></li>
						<li><a href="#"><i class="fas fa-plus"></i></a></li>
						<li><a href="#"><i class="fas fa-expand"></i></a></li>
					</ul>
				</div>
				<div class="part-2">
					<h3 class="product-title">Ibuprofeno</h3>
					<h4 class="product-price">Bs. 5.99</h4>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-lg-4 col-xl-3">
			<div id="product-1" class="single-product">
				<div class="part-1">
					<img src="../img/gentamicina.png" alt="gentamicina" class="mt-lg-4"/>
					<ul>
						<li><a href="#"><i class="fas fa-shopping-cart"></i></a></li>
						<li><a href="#"><i class="fas fa-heart"></i></a></li>
						<li><a href="#"><i class="fas fa-plus"></i></a></li>
						<li><a href="#"><i class="fas fa-expand"></i></a></li>
					</ul>
				</div>
				<div class="part-2">
					<h3 class="product-title">Gentamicina</h3>
					<h4 class="product-price">Bs. 39.99</h4>
				</div>
			</div>
		</div>
	</div>
</div>