@{
    Layout = "_Welcome";
    ViewData["Title"] = "Servicios";
}
<link rel="stylesheet" href="~/css/testimonials.css" asp-append-version="true" />

<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <div class="card">
                <div class="face front-face">
                    <img src="~/img/chavez.jpg" alt="" class="profile">
                    <div class="pt-3 text-uppercase name">
                        Farmacias Chávez
                    </div>
                    <div class="designation text-center">Av. Los Pinos, casi Calle 7</div>
                </div>
                <div class="face back-face">
                    <span class="fas fa-quote-left"></span>
                    <div class="testimonial">
                        Recuperé el precio de compra en solo 48 horas. Agradecemos a KADILA por hacer
                        la transacción sin dolor y agradable. El servicio fue excelente.
                    </div>
                    <span class="fas fa-quote-right"></span>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
           <div class="card">
               <div class="face front-face">
                   <img src="~/img/farmacorp.png" alt="" class="profile">
                   <div class="pt-3 text-uppercase name">
                       Farmacorp
                   </div>
                   <div class="designation text-center">San Miguel calle 21 esq. Patiño</div>
               </div>
               <div class="face back-face">
                   <span class="fas fa-quote-left"></span>
                   <div class="testimonial">
                       ¡Realmente bueno, has salvado nuestro negocio! Recuperé el precio de compra en solo 48 horas. ¡Hombre, esto
                       se pone cada vez mejor a medida que aprendo más sobre ello!
                   </div>
                   <span class="fas fa-quote-right"></span>
               </div>
           </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <div class="face front-face">
                    <img src="~/img/mifarma.png" alt="" class="profile">
                    <div class="pt-3 text-uppercase name">
                        Mifarma
                    </div>
                    <div class="designation text-center">Sucursal Av. Arce esq. Gosalvez</div>
                </div>
                <div class="face back-face">
                    <span class="fas fa-quote-left"></span>
                    <div class="testimonial">
                         KADILA ha sido nuestro proveedor de confianza durante años. Su amplio catálogo de productos y servicio excepcional ha sido fundamental para el éxito de nuestra farmacia. Sin ellos, no podríamos haber llegado tan lejos. ¡Gracias por su profesionalismo y compromiso!
                    </div>
                    <span class="fas fa-quote-right"></span>
                </div>
            </div>
        </div>
    </div>
</div>
